    .example {
        color: #FFF;
        text-align: center;
    }

    .example-item {
        display: block;
        width: 33.333%;
        height: 150px;

    }
    .example-item_first {
        background-color: #FAA116;
    }
    .example-item_second {
        background-color: #57C7C3;
        margin-left: auto;
    }
    .example-item_third {
        background-color: #3B97D3;
        /* Essa estratégia para centralizar esse elemento só ira funcionar estiver acompanhada da seguinte combinação: 
        1.Largura, 2. Ser um Display-Block, 3. Conter margem do lado esquerdo e direito */
        margin-left: auto;
        margin-right: auto;
    }

